.cq-info-page,
.cq-info-page p {
	font-size: 14px;
	line-height: 1.5;
}

.cq-info-box {
	background: rgba(0, 0, 0, .3);
	float: right;
	margin: 8px;
	padding: 16px;
	width: 240px;
}

.cq-info-box h2 {
	font-size: 20px;
	color: #FFD47D;
	margin: 2px 0;
}

.cq-info-box dt {
	color: rgba(255, 255, 255, .6);
	margin-top: 8px;
}

.cq-info-box dd {
	margin-left: 16px;
}

.cq-info-box ul {
	list-style: none;
}

.cq-info-page section ul,
.cq-info-page section ol {
	margin-left: 18px;
}

.cq-image-gallery {
	align-items: flex-start;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.cq-image-gallery .thumbnail {
	display: block;
	flex-basis: 21%;
	flex-grow: 1;
	padding: 4px;
	position: relative;
}

.cq-image-gallery .thumbnail img {
	max-width: 100%;
}

/* RuneFest Hub */
.main-content#hub #tweets {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.main-content#hub h2 {
	border: 0;
}
.tweet-container {
	flex-grow: 1;
}
.wiki-include { font-size: 1.5em; }