<div class="large-header">
	<!-- IF HIDE_TITLE --><h1 class="cq-master">Clan Quest</h1><!-- ENDIF -->
	<img src="/forums/styles/clanquest/images/cq_logo.png" srcset="/forums/styles/clanquest/images/cq_logo_2x.png 2x" alt="Clan Quest - The Questing Clan" class="main-logo">

	<div class="header-links<!-- IF not S_REGISTERED_USER --> non-member<!-- ENDIF -->">
		<!-- IF S_REGISTERED_USER -->
			<a href="{U_SITE_HOME}/about" class="link">
				<div class="background-image" style="background-image: url('{ROOT_PATH}styles/clanquest/images/about07.jpg')"></div>
				<div class="content">
					<div class="text">News</div>
				</div>
			</a>
			<a href="{U_SITE_HOME}/forums/memberlist.php" class="link">
				<div class="background-image" style="background-image: url('{ROOT_PATH}styles/clanquest/images/about13.jpg')"></div>
				<div class="content">
					<div class="text">Roster</div>
				</div>
			</a>
			<a href="/wiki/Questaholic/Latest_Issue" class="link">
				<div class="background-image" style="background-image: url('{ROOT_PATH}styles/clanquest/images/about09.jpg')"></div>
				<div class="content">
					<div class="text">Questaholic</div>
				</div>
			</a>
		<!-- ELSE -->
			<a href="{U_SITE_HOME}/about" class="link">
				<div class="background-image" style="background-image: url('{ROOT_PATH}styles/clanquest/images/about10.jpg')"></div>
				<div class="content">
					<div class="text">About us</div>
				</div>
			</a>
			<a href="http://services.runescape.com/m=forum/forums.ws?93,94,541,65763993" class="link">
				<div class="background-image" style="background-image: url('{ROOT_PATH}styles/clanquest/images/about13.jpg')"></div>
				<div class="content">
					<div class="text">Join!</div>
				</div>
			</a>
			<a href="/wiki/Questaholic/Latest_Issue" class="link">
				<div class="background-image" style="background-image: url('{ROOT_PATH}styles/clanquest/images/about09.jpg')"></div>
				<div class="content">
					<div class="text">Questaholic</div>
				</div>
			</a>
		<!-- ENDIF -->
	</div>
</div>
